/* login admin page */
.nico{
    background-color: blueviolet;
}

root{
    color: rgb(136, 13, 30);
    color: rgb(221, 45, 74);
    color: rgb(242, 106, 141);
    color: rgb(244, 156, 187);
    color: rgb(203, 238, 243);
    color: rgb(238, 136, 139);
}